@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie&family=IM+Fell+French+Canon+SC&family=IM+Fell+French+Canon:ital@0;1&family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Elsie', cursive;
font-family: 'IM Fell French Canon', serif;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Josefin Sans', sans-serif; */
/* bootstrap header*/
.dropdown-menu {
  background-color: #18151F;
  border: #D6CE8F solid 1px;
  justify-content: center;
}

.dropdown-item {
  color: #D6CE8F;
  text-align: center;
}

.navFooter {
  grid-area: nav;
  padding-bottom: 20px;
  margin-top: 50px;
  grid-column: 1/4;
  height: 100%;
}

.sacarListaFooter {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -40px;
  margin-bottom: 50px;
}

/* Header */
header {
  width: 100%;
  background-color: #090611;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 114px;
}
header div h1 {
  color: #D6CE8F;
  text-align: center;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 200;
  font-size: 64px;
  justify-content: center;
  text-transform: uppercase;
}
header nav {
  text-transform: uppercase;
  margin-top: 20px;
}
header nav li a {
  text-decoration: none;
  color: #D6CE8F;
  font-size: 20px;
}
header .sacarLista {
  list-style: none;
  display: flex;
  justify-content: center;
}
header .borde {
  border: 1px solid #D6CE8F;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
}

@media (max-width: 425px) {
  header div h1 {
    font-size: 40px;
  }
  header nav li a {
    font-size: 16px;
  }
}
footer {
  background-color: #D6CE8F;
  height: 100%;
}
footer .footerContenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "Visitanos Visitanos Visitanos" "redes redes redes" "nav nav nav";
  height: 100%;
}
footer h2 {
  font-size: 60px;
  text-align: center;
  color: #090611;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 200;
  border: 4px #8D8A6C dashed;
  padding: 0px 70px 5px 70px;
  border-radius: 30px;
  grid-area: Visitanos;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  background-color: #DDD9B4;
}
footer .redes {
  color: #090611;
  grid-area: redes;
  justify-self: center;
  margin-bottom: 10px;
}
footer .navFooter ul li a {
  color: #090611;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "IM Fell French Canon SC", serif;
  list-style: none;
  border: 1px solid #090611;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 500px) {
  footer .navFooter ul li a {
    font-size: 16px;
  }
  .footerContenedor h2 {
    font-size: 34px;
    padding: 0px 30px 0px 30px;
  }
}
.section1Index {
  margin-bottom: 500px;
}
.section1Index .textoDentroImagen {
  background-image: url(../assets/img/remdios-varo-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-family: "IM Fell French Canon SC", serif;
  padding: 30px 10px 20px 10px;
  margin-left: 116px;
  margin-right: 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1Index .textoDentroImagen h2 {
  font-size: 120px;
  margin-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.section1Index .textoDentroImagen h3 {
  font-size: 85px;
  padding-right: 60px;
  padding-left: 60px;
}
.section1Index .div2Section1 h4 {
  color: white;
  font-size: 64px;
  text-align: center;
  font-family: "IM Fell French Canon", serif;
  font-style: italic;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin-top: 350px;
  margin-bottom: 68px;
  padding-left: 50px;
  padding-right: 50px;
}
.section1Index .div2Section1 p {
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  padding-left: 240px;
  padding-right: 240px;
  margin-bottom: 28px;
}
.section1Index .divBiografiaCentroIcono {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "IM Fell French Canon SC", serif;
  display: flex;
  justify-content: center;
}
.section1Index .divBiografiaCentroIcono a {
  border: 1px solid #D6CE8F;
  text-decoration: none;
  list-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  color: #D6CE8F;
}

.section2Index {
  width: 100%;
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, auto);
  justify-items: center;
  margin-bottom: 600px;
}
.section2Index .imagen1Index {
  grid-column: 1/2;
  grid-row: 2/3;
}
.section2Index .imagen1Index img {
  border-radius: 30px;
}
.section2Index .imagen2Index {
  grid-column: 3/4;
  grid-row: 2/3;
}
.section2Index .imagen2Index img {
  border-radius: 30px;
}
.section2Index .botonFecha {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}
.section2Index .botonObras {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  padding-top: 200px;
}
.section2Index .letraAmarilla {
  border: 1px solid #D6CE8F;
  text-decoration: none;
  list-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  color: #D6CE8F;
  font-size: 20px;
  font-family: "IM Fell French Canon SC", serif;
}
.section2Index h2 {
  color: white;
  text-align: center;
  font-size: 65px;
  font-family: "IM Fell French Canon", serif;
  text-decoration: none;
  font-weight: 200;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  padding-bottom: 100px;
}

@media (max-width: 1250px) {
  .section2Index h2 {
    font-size: 50px;
  }
}
@media (max-width: 1150px) {
  .section1Index .textoDentroImagen h2 {
    font-size: 105px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 75px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 1024px) {
  .section1Index {
    margin-bottom: 300px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 95px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 70px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .section1Index .div2Section1 h4 {
    font-size: 55px;
  }
  .section1Index .div2Section1 p {
    padding-left: 140px;
    padding-right: 140px;
  }
  .section1Index .divBiografiaCentroIcono a {
    padding: 5px 10px 5px 10px;
  }
  .section2Index {
    margin-bottom: 400px;
  }
  .section2Index .imagen1Index img {
    width: 350px;
    border-radius: 30px;
  }
  .section2Index .imagen2Index img {
    width: 350px;
    border-radius: 30px;
  }
  .section2Index h2 {
    font-size: 50px;
  }
}
@media (max-width: 950px) {
  .section1Index .textoDentroImagen h2 {
    font-size: 78px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 55px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section1Index .div2Section1 h4 {
    margin-top: 250px;
  }
  .section1Index .div2Section1 p {
    padding-left: 110px;
    padding-right: 110px;
  }
  .section2Index {
    margin-bottom: 300px;
  }
  .section2Index .imagen1Index img {
    width: 300px;
    border-radius: 30px;
  }
  .section2Index .imagen2Index img {
    width: 300px;
    border-radius: 30px;
  }
  .section2Index h2 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .section1Index {
    margin-bottom: 200px;
  }
  .section1Index .textoDentroImagen {
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 100px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 92px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 70px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .section1Index .div2Section1 h4 {
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section1Index .div2Section1 p {
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
  }
  .section1Index .divBiografiaCentroIcono {
    font-size: 16px;
  }
  .section2Index {
    grid-template: repeat(3, auto)/100%;
    margin-bottom: 200px;
  }
  .section2Index .imagen1Index {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section2Index .imagen1Index img {
    width: 550px;
    border-radius: 30px;
  }
  .section2Index .imagen2Index {
    display: none;
  }
  .section2Index .botonFecha {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .section2Index .botonObras {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-top: 0px;
  }
  .section2Index .letraAmarilla {
    font-size: 22px;
  }
  .section2Index h2 {
    font-size: 70px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 0px;
  }
}
@media (max-width: 700px) {
  .section1Index {
    margin-bottom: 150px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 85px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 57px;
  }
}
@media (max-width: 600px) {
  .section1Index {
    margin-bottom: 150px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 80px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 55px;
  }
  .section1Index .div2Section1 h4 {
    font-size: 30px;
  }
  .section1Index .div2Section1 p {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section1Index .divBiografiaCentroIcono {
    font-size: 16px;
  }
  .section2Index .imagen1Index img {
    width: 480px;
  }
  .section2Index h2 {
    font-size: 50px;
  }
  .section2Index .letraAmarilla {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .section1Index {
    margin-bottom: 150px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 65px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 48px;
  }
  .section1Index .div2Section1 h4 {
    font-size: 28px;
  }
  .section1Index .div2Section1 p {
    font-size: 16px;
  }
  .section1Index .divBiografiaCentroIcono {
    font-size: 14px;
  }
  .section2Index .imagen1Index img {
    width: 400px;
  }
  .section2Index h2 {
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .section1Index {
    margin-bottom: 150px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 55px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 40px;
  }
  .section1Index .div2Section1 h4 {
    font-size: 28px;
  }
  .section2Index .imagen1Index img {
    width: 300px;
  }
  .section2Index h2 {
    font-size: 40px;
  }
  .section2Index .letraAmarilla {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .section1Index {
    margin-bottom: 150px;
  }
  .section1Index .textoDentroImagen h2 {
    font-size: 48px;
  }
  .section1Index .textoDentroImagen h3 {
    font-size: 36px;
  }
  .section1Index .div2Section1 h4 {
    margin-top: 100px;
    font-size: 24px;
  }
  .section2Index .imagen1Index img {
    width: 300px;
  }
  .section2Index h2 {
    font-size: 36px;
  }
}
body {
  width: 100%;
  background-color: #090611;
}

main {
  background-color: #090611;
}

/*# sourceMappingURL=style.css.map */
