@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie&family=IM+Fell+French+Canon+SC&family=IM+Fell+French+Canon:ital@0;1&family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Elsie', cursive;
font-family: 'IM Fell French Canon', serif;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Josefin Sans', sans-serif; */
/* bootstrap header*/
.dropdown-menu {
  background-color: #18151F;
  border: #D6CE8F solid 1px;
  justify-content: center;
}

.dropdown-item {
  color: #D6CE8F;
  text-align: center;
}

.navFooter {
  grid-area: nav;
  padding-bottom: 20px;
  margin-top: 50px;
  grid-column: 1/4;
  height: 100%;
}

.sacarListaFooter {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -40px;
  margin-bottom: 50px;
}

/* Header */
header {
  width: 100%;
  background-color: #090611;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 114px;
}
header div h1 {
  color: #D6CE8F;
  text-align: center;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 200;
  font-size: 64px;
  justify-content: center;
  text-transform: uppercase;
}
header nav {
  text-transform: uppercase;
  margin-top: 20px;
}
header nav li a {
  text-decoration: none;
  color: #D6CE8F;
  font-size: 20px;
}
header .sacarLista {
  list-style: none;
  display: flex;
  justify-content: center;
}
header .borde {
  border: 1px solid #D6CE8F;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
}

footer {
  background-color: #D6CE8F;
  height: 100%;
}
footer .footerContenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "Visitanos Visitanos Visitanos" "redes redes redes" "nav nav nav";
  height: 100%;
}
footer h2 {
  font-size: 60px;
  text-align: center;
  color: #090611;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 200;
  border: 4px #8D8A6C dashed;
  padding: 0px 70px 5px 70px;
  border-radius: 30px;
  grid-area: Visitanos;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  background-color: #DDD9B4;
}
footer .redes {
  color: #090611;
  grid-area: redes;
  justify-self: center;
  margin-bottom: 10px;
}
footer .navFooter ul li a {
  color: #090611;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "IM Fell French Canon SC", serif;
  list-style: none;
  border: 1px solid #090611;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  list-style: none;
  text-decoration: none;
}

.section1Index {
  margin-bottom: 500px;
}
.section1Index .textoDentroImagen {
  background-image: url(../assets/img/remdios-varo-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-family: "IM Fell French Canon SC", serif;
  text-transform: uppercase;
  font-weight: 200;
  padding: 30px 10px 20px 10px;
  margin-left: 116px;
  margin-right: 116px;
  line-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1Index .textoDentroImagen h2 {
  font-size: 112px;
  margin-bottom: 30px;
}
.section1Index .textoDentroImagen h3 {
  font-size: 70px;
}
.section1Index .div2Section1 h4 {
  color: white;
  font-size: 64px;
  text-align: center;
  font-family: "IM Fell French Canon", serif;
  font-style: italic;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin-top: 350px;
  margin-bottom: 68px;
  padding-left: 50px;
  padding-right: 50px;
}
.section1Index .div2Section1 p {
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  padding-left: 240px;
  padding-right: 240px;
  margin-bottom: 28px;
}
.section1Index .divBiografiaCentroIcono {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.section1Index .divBiografiaCentroIcono a {
  border: 1px solid #D6CE8F;
  text-decoration: none;
  list-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  color: #D6CE8F;
}

.section2Index {
  width: 100%;
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, auto);
  justify-items: center;
  margin-bottom: 600px;
}
.section2Index .imagen1Index {
  grid-column: 1/2;
  grid-row: 2/3;
}
.section2Index .imagen2Index {
  grid-column: 3/4;
  grid-row: 2/3;
}
.section2Index .botonFecha {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}
.section2Index .botonObras {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  padding-top: 200px;
}
.section2Index .letraAmarilla {
  border: 1px solid #D6CE8F;
  text-decoration: none;
  list-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  color: #D6CE8F;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 300;
}
.section2Index h2 {
  color: white;
  text-align: center;
  font-size: 65px;
  font-family: "IM Fell French Canon", serif;
  text-decoration: none;
  font-weight: 200;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  padding-bottom: 100px;
}

body {
  width: 100%;
  background-color: #090611;
}

main {
  background-color: #090611;
}

/*# sourceMappingURL=style.css.map */
