@import "./base/reset.scss";
@import "./base/typo.scss";
@import "./components/bootstrap.scss";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-biografia";
@import "./layout/main-obras";
@import "./layout/1930-1940.scss";
@import "./layout/1940-1950.scss";
@import "./layout/1950-1960.scss";
@import "./layout/1960-1963.scss";






body{
    width: 100%;
    background-color: #090611;
}

main{
    background-color: #090611;
}
