// obras

.titulo{
    font-size: 100px;
    color: #D6CE8F;
    text-align: center;
    font-family: 'IM Fell French Canon', serif;
    font-weight: 250;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 235px;
}
.divObras{
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto;
    justify-items: center;
    margin: 0px 10px 300px 10px;

    .obrasIzquierda{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
        -webkit-animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 7s both;
        animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 7s both;
    }
    .obrasDerecha{
        grid-column: 2 / 3;
        grid-row: 1 / 2;

            -webkit-animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 7s both;
                    animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 7s both;
    }
    p{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        text-align: center;
        a{
            color: white;
            font-size: 65px;
            font-family: 'IM Fell French Canon', serif;
            text-decoration: none;
            font-weight: 200;
            line-height: 60px;
        }
    }
    a{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        text-decoration: none;
        list-style: none;
        color: #D6CE8F;
        font-size: 20px;
        font-family: 'IM Fell French Canon SC', serif ;
        font-weight: 300;
        margin-top: 170px;
    }
    .slide-right-2 {
        -webkit-animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 11s both;
                animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 11s both;
    }
    .slide-left-2 {
        -webkit-animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 11s both;
                animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 11s both;
    }
    .slide-right-3 {
        -webkit-animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 14s both;
                animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 14s both;
    }
    .slide-left-3 {
        -webkit-animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 14s both;
                animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 14s both;
    }
    .slide-right-4 {
        -webkit-animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
                animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
    }
    .slide-left-4 {
        -webkit-animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
                animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
    }

}

.bordeAmarilla{
    border: 1px solid #D6CE8F ;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
}



    /* ----------------------------------------------
    * Generated by Animista on 2023-5-11 19:23:8
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info.
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation slide-left
    * ----------------------------------------
    */
    @-webkit-keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-410px);
                transform: translateX(-410px);
        }
    }
    @keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-410px);
                transform: translateX(-410px);
        }
    }

    /* ----------------------------------------------
    * Generated by Animista on 2023-5-11 19:25:47
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info.
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation slide-right
    * ----------------------------------------
    */
    @-webkit-keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(410px);
                transform: translateX(410px);
        }
    }
    @keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(410px);
                transform: translateX(410px);
        }
    }

// Responsive
// 1320px// 1320px// 1320px// 1320px// 1320px// 1320px// 1320px// 1320px// 1320px

@media (max-width:1320px){
    .divObras{
        img{
            width: 400px;
        }
    }
    @-webkit-keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-360px);
                transform: translateX(-360px);
        }
    }
    @keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-360px);
                transform: translateX(-360px);
        }
    }
    @-webkit-keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(360px);
                transform: translateX(360px);
        }
    }
    @keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(360px);
                transform: translateX(360px);
            }
    }
}

// 1150px// 1150px// 1150px// 1150px// 1150px// 1150px// 1150px

@media (max-width:1150px){
    .divObras{
        img{
            width: 380px;
        }
        p{
            a{
                font-size: 50px;
            }
        }
    }
    @-webkit-keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-330px);
                transform: translateX(-330px);
        }
    }
    @keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-330px);
                transform: translateX(-330px);
        }
    }
    @-webkit-keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(330px);
                transform: translateX(330px);
        }
    }
    @keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(330px);
                transform: translateX(330px);
            }
    }
}


// 1024px// 1024px// 1024px// 1024px// 1024px// 1024px// 1024px// 1024px// 1024px// 1024px
@media (max-width:1050px){
    .divObras{
        img{
            width: 340px;
        }
        p{
            a{
                font-size: 55px;
                padding-bottom: 150px;
            }
        }
    }
    @-webkit-keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
        }
    }
    @keyframes slide-left {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
        }
    }

    @-webkit-keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        }
    }
    @keyframes slide-right {
        0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        }
        100% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
        }
    }
}

// 950px// 950px// 950px// 950px

@media (max-width:950px){
    .divObras{
        grid-template: auto auto auto / auto ;
        .obrasDerecha{
            display: none;
        }
        .obrasIzquierda{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            -webkit-animation: none;
            animation: none;
            width: 600px;
        }
        p{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-bottom: 30px;
            a{
                color: #D6CE8F;
                font-size: 60px;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
            }
        }
        a{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            margin-top: 30px;
            font-size: 25px;
            padding: 5px 15px 5px 15px;
        }
    }
}

@media (max-width:610px){
    .titulo{
        font-size: 80px;
    }
    .divObras{
        .obrasIzquierda{
            width: 500px;
        }
        p{
            margin-bottom: 20px;
            a{
                font-size: 55px;
                line-height: 35px;
            }
        }
        a{
            margin-top: 20px;
            font-size: 22px;
            padding: 5px 10px 3px 10px
        }
    }
}

@media (max-width:530px){
    .divObras{
        margin-bottom: 150px;
        .obrasIzquierda{
            width: 400px;
        }
        p{

            a{
                font-size: 45px;
                line-height: 30px;
            }
        }
        a{
            margin-top: 15px;
            font-size: 18px;
            padding: 5px 10px 3px 10px
        }
    }
}

@media (max-width:425px){
    .titulo{
        font-size: 70px;
    }
    .divObras{
        margin-bottom: 150px;
        .obrasIzquierda{
            width: 350px;
        }
        p{
            margin-bottom: 10px;
            a{
                font-size: 38px;
                line-height: 25px;
            }
        }
        a{
            margin-top: 10px;
            font-size: 16px;
            padding: 5px 10px 3px 10px
        }
    }
}

@media (max-width:375px){
    .titulo{
        font-size: 60px;
    }
    .divObras{
        margin-bottom: 150px;
        .obrasIzquierda{
            width: 300px;
        }
        p{
            margin-bottom: 10px;
            a{
                font-size: 38px;
                line-height: 25px;
            }
        }
        a{
            margin-top: 10px;
            font-size: 16px;
            padding: 5px 10px 3px 10px
        }
    }
}




